# Archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
/.idea/
/*.iml
/.vscode/
/.classpath
/.project
/.settings/

# Archivos de compilación y salida
/target/
/bin/
/build/

# Archivos de Maven
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties

# Archivos de configuración específicos de IntelliJ
/.idea/
/*.iws
/*.ipr
/*.iml

# Archivos de configuración específicos de Eclipse
/.settings/
/.project
.classpath

# Archivos específicos de NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nbm/

# Archivos temporales
*.log
*.tmp

# Archivos de Java
*.class
*.jar
*.war
*.ear

# Archivos de configuración de entorno
.env
